<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Dashboard</title>
</head>
<body>
    {% include 'base/header.html' %}
    <br><br>
    <hr><br><br>
    
    <h2>Welcome to Your Dashboard</h2>
    <a href="{% url 'add_product' %}">Add New Product</a>
    
    
    <h3>Your Products</h3>
    <table >
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Description</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    {% if product.photo %}
                    <img src="{{ product.photo.url }}" alt="{{ product.name }}" width="100">
                    {% else %}
                    No Photo
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No products found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>