<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="/static/register/signup.css">
</head>

<body>

     {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


    <!-- Signup Section -->
    <div class="signup-container">
        <h1>Create an Account</h1>
        <a href="{% url 'become_seller' %}" style="display: block; margin-bottom: 10px; text-align: center; text-decoration: none;  color:black" >Become a Seller</a>
        <p>Join us and enjoy the best shopping experience!</p>

        <form id="signup-form" method="POST" >
            {% csrf_token %}
            
            <!-- Full Name -->
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="username" placeholder="Enter your username" required>

            <!-- Email -->
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>

            <!-- Password -->
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Create a password" required>

            <!-- Confirm Password -->
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password"
                required>
            <!-- Submit Button -->
            <button type="submit">Sign Up</button>
        </form>



        <!-- Already have an account -->
        <p class="login-link">Already have an account? <a href="{% url 'login'%}">Log in</a></p>
    </div>

</body>

</html>